/* General container*/

.container {
  width: 900px;
  margin: 0 auto;
}


/* Container for text */

.container-text {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text-box {
  padding: 25px;
}

.container-text p{
  font-size: 40px;
  color: white;
}

.container-text-img {
  background-image: url("https://images.unsplash.com/photo-1601132359864-c974e79890ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 500px;
  position: absolute;
  z-index: -1;
  bottom: 200px;
  right: -150px;
}

/* Container cards */

.container-cards {
  margin-top: 150px;
  margin-bottom: 150px;
}
